*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
.contenedorPadre{
    display: flex;
    height: 100vh;
}
.header{
    background-color: rgb(195, 149, 218);
    height: 25vh;
}
.main{
    background-color: white ;
    height: 50vh;
}
.footer{
    background-color: darkslateblue;
    height: 25vh;
}
.divContenedor{
    width: 100vw;
}